button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10001;
}

p-sidebar ul {
  list-style-type: none;
  padding: 0;
}

p-sidebar ul li {
  margin: 10px 0;
}

p-sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
