<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success" style="margin: 0 5px 0 0;"
              (click)="openNew()"></button>
      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger  "
              (click)="deleteSelectedTickets()" [disabled]="!selectedTickets || !selectedTickets.length"></button>
    </ng-template>

<!--    <ng-template pTemplate="right">-->
<!--      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"-->
<!--                    class="p-mr-2 p-d-inline-block"></p-fileUpload>-->
<!--      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>-->
<!--    </ng-template>-->
  </p-toolbar>

  <p-table #dt [value]="tickets" [rows]="10" [paginator]="true"
           [globalFilterFields]="['status']"
           [(selection)]="selectedTickets" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Tickets</h5>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                           placeholder="Search..."/>
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="user">User
          <p-sortIcon field="user"></p-sortIcon>
        </th>
        <th pSortableColumn="title">Title
          <p-sortIcon field="title"></p-sortIcon>
        </th>
        <th pSortableColumn="priority">Priority
          <p-sortIcon field="priority"></p-sortIcon>
        </th>
        <th pSortableColumn="category">Category
          <p-sortIcon field="category"></p-sortIcon>
        </th>
        <th pSortableColumn="status">Status
          <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pSortableColumn="assignedTo">Assigned To
          <p-sortIcon field="assignedTo"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ticket>
      <tr>
        <td>
          <p-tableCheckbox [value]="ticket"></p-tableCheckbox>
        </td>
        <td>{{ ticket.user }}</td>
        <td>{{ ticket.title }}</td>
        <td>{{ ticket.priority }}</td>
        <td>{{ ticket.category }}</td>
        <td>
          <span
            [class]="'ticket-badge status-' + ticket.status.toLowerCase()">{{ ticket.status }}
          </span>
        </td>
        <td>{{ ticket.assignedTo }}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success" style="margin: 0 5px 0 0;"
                  (click)="editTicket(ticket)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deleteTicket(ticket)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ tickets ? tickets.length : 0 }} tickets.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="ticketDialog" [style]="{width: '450px'}" header="Ticket Details" [modal]="true"
          styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="ticket.user" required autofocus/>
      <small class="p-invalid" *ngIf="submitted && !ticket.title">Name is required.</small>
    </div>
    <!--    devamı yazılacak-->
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTicket()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
